<%= form_with(model: [:settings, assistant], class: "contents") do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :model, "Model", class: "block text-gray-800 font-bold whitespace-nowrap" %>
    <%= form.select :model, options_for_select(AIBackends::OpenRouter.model_options, selected: assistant.model), {},
                  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black pr-8" %>
    <% if assistant.open_router? %>
      <details class="p-1 text-gray-500">
        <summary>Details</summary>
        <div class="flex flex-col items-start gap-1 p-1 text-sm w-full">
          <div>
            <span class="font-medium">Architecture:</span>
            <span><%= AIBackends::OpenRouter.models(assistant.model).dig("architecture") %></span>
          </div>
          <div>
            <span class="font-medium">Context Length:</span>
            <span><%= AIBackends::OpenRouter.models(assistant.model).dig("context_length") %></span>
          </div>
          <div>
            <span class="font-medium">Pricing (per token):</span>
            <span><%= AIBackends::OpenRouter.models(assistant.model).dig("pricing") %></span>
          </div>
        </div>
      </details>
    <% end %>
  </div>


  <% unless assistant.new_record? %>
    <div class="my-5">
      <%= form.label :name %>
      <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
    </div>

    <div class="my-5">
      <%= form.label :description %>
      <%= form.text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black", rows: 5 %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :instructions %>
    <%= form.text_area :instructions, rows: 10,
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black h-18",
      data: { controller: "textarea-autogrow" }
    %>
  </div>

  <%= form.submit "Save",
    class: %|
      inline-block font-medium
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    |,
    data: { turbo_submits_with: "Saving..." }
  %>
<% end %>
